@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@100;300;400;500;600;700;800;900&display=swap');

/* credit - https://css-tricks.com/perfect-full-page-background-image/ */
html {
    background: url("../images/barbell_planner_rack.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.content-txt {
    font-family: 'Big Shoulders Stencil Text', sans-serif;
    color: #fafafa;
}

.content-title {
    font-family: 'Big Shoulders Stencil Text', sans-serif;
    font-weight: 500;
    text-transform: capitalize;
    text-align: center;
    color: #fafafa;
}

i {
    color: #fafafa;

}

.msgs-txt {
    font-family: 'Big Shoulders Stencil Text', sans-serif;
    font-weight: 500;
    background-color: black;
    color: #fafafa;
    text-align: center;
    line-height: 2;
    text-transform: capitalize;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.page-footer {
    padding: 0;
    max-height: 300px;
}

.social-links {
    font-size: 25px;
}

.social-links a:hover {
    text-decoration: underline;
}

.social-links i {
    text-decoration: none;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    transition: all 0.20s ease-in-out;
    -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
}

.social-links i:hover {
    transform: scale(1.25);
    color: #fafafa;
}

.auth-option a {
    text-decoration: none;
    color: #fafafa;
}

.auth-option a:hover {
    text-decoration: underline;
}

/*--https://codepen.io/eren12331/pen/xxbJeaW--*/
.auth-card {
    background: rgba(0, 0, 0, 0.6);
}