@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@100;300;400;500;600;700;800;900&display=swap');

.content-txt {
    font-family: 'Big Shoulders Stencil Text', sans-serif;
}

.content-title {
    font-family: 'Big Shoulders Stencil Text', sans-serif;
    font-weight: 500;
    text-transform: capitalize;
}

i {
    color: #fafafa;
    margin-bottom: 5px;
    
}

.msgs-txt {
    font-family: 'Big Shoulders Stencil Text', sans-serif;
    font-weight: 500;
    background-color: black;
    color: #fafafa;
    text-align: center;
    line-height: 2;
    text-transform: capitalize;
};