@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@100;300;400;500;600;700;800;900&display=swap');

/* -------------------------------------Background images--------------------------------*/
/* credit - https://css-tricks.com/perfect-full-page-background-image/ */
html {
    background: url("../images/barbell_planner_rack.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.home {
    background: url("../images/bb_beast_2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bb_workout_bg {
    background: url("../images/gym_full_1.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.log_workout_bg {
    background: url("../images/gym_full_2.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* ------------Nav -------------- */
nav {
    height: 100px;
    line-height: 100px;
}

nav .brand-logo {}

/* ----------------------- Log workout-----------------------*/

.switch label .lever {
    background-color: red;
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: red;
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #fafafa;
}

/*---------------------- General styling --------------------------- */

/*---- Credit - https://codepen.io/eren12331/pen/xxbJeaW--*/
.auth-card {
    background: rgba(0, 0, 0, 0.6);
}

.content-txt {
    font-family: 'Big Shoulders Stencil Text', sans-serif;
    color: #fafafa;
    font-size: 25px;
}

.content-title {
    font-family: 'Big Shoulders Stencil Text', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    color: #fafafa;
}

blockquote {
    border-left: none;
    font-size: 20px;
}

p {
    margin: 0;
}

i {
    color: #fafafa;

}

.msgs-txt {
    font-family: 'Big Shoulders Stencil Text', sans-serif;
    font-weight: 500;
    background-color: black;
    color: #fafafa;
    text-align: center;
    line-height: 2;
    text-transform: capitalize;
}

.btn-small {
    margin: 5px;
}

/* ------------- Materialize Css - Sticky Footer -------------- */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* ------------------------------- Barbell workouts - Collapsible content ------------------ */

.collapsible-header .col strong {
    margin: 5px;
}

.user-icon {
    margin-left: 2rem;
}

.workout-data p {
    display: inline-block;
    padding: 1rem;
    font-size: 20px;
    letter-spacing: 2px;
}

.collapsible-body {
    padding: 0.5rem;
}

/* ---------------------------------------- Footer ------------------- */
.page-footer {
    padding: 0;
    max-height: 300px;
}

/* ------------------------ Link styling---------------------- */

.social-links {
    font-size: 25px;
}

.social-links a {
    color: #fafafa;
}

.social-links a:hover {
    text-decoration: underline;
    color: red;
}

.social-links i {
    text-decoration: none;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    transition: all 0.20s ease-in-out;
    -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
}

.social-links i:hover {
    transform: scale(1.25);
    color: red;
}

.auth-option a {
    text-decoration: none;
    color: #fafafa;
}

.auth-option a:hover {
    text-decoration: underline;
    color: red;
}

/*------------- Input fields------------------------------ */
/*--- Credit - https://stackoverflow.com/questions/6669846/css-input-field-text-color-of-inputted-text ---- */

input,
select,
textarea {
    color: #fafafa;
}

textarea:focus,
input:focus {
    color: #fafafa;
}

/* -------------------- Media Queries---------------- */
@media only screen and (max-width: 600px) {

    nav {
        height: 80px;
    }

    .nav-wrapper img {
        height: 80px;
        width: 80px;
    }

    .user-icon {
        margin: 0;
        padding: 0;
    }
}