{% extends "base.html" %}
{% block content %}
  <section class="error-page-bg">

    <div class="content-title black-text center-align">
      <h1>Oops! something went wrong <i class="fas fa-exclamation-triangle"></i></h1>
        <p class="content-txt black-text">Seems we've run into an internal server error, we'll try get you back up and running ASAP<p><br>
            <a href="{{ url_for ('home') }}" class="btn-large black content-txt" style="margin: 2rem;">Back to the Wolf Pit<i
                class="fas fa-undo-alt right"></i></a>
    </div>

  </section>
{% endblock %}