{% extends "base.html" %}
{% block content %}

<body class="home">
    <div class="row">
        <div class="col s12">
        </div>
    </div>
    <div class="card-panel auth-card">
        {% if session.user %}
        <h1 class="content-title">Welcome to the Barbell Planner</h1>
        <div class="row">
            <div class="col s12 content-txt center-align">
                The Barbell Planner is a platform that allows you to log your workouts and track
                your progression along with the Barbell Gym community.<br>
                <blockquote><em>"There's no limit to what you can achieve if you Just Show Up"</em><br>
                - Gavin Smith, PT and owner of the Barbell Gym.</blockquote>
            </div>
        </div>
        <!--Logged in homepage-->
        <div class="row">
            <div class="col l3 offset-l2 m3 offset-m2 s12">
                <a href="{{ url_for('log_workout')}}">
                    <div class="row">
                        <div class="card">
                            <div class="card-image">
                                <img src="{{ url_for('static', filename='images/gym1.jpg') }}">
                            </div>
                            <p class="content-txt center-align black-text">Log Workout <i
                                    class="fas fa-plus-square black-text"></i>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col l3 offset-l2 m3 offset-m2 s12">
                <a href="{{ url_for('get_workouts')}}">

                    <div class="row">
                        <div class="card">
                            <div class="card-image">
                                <img src="{{ url_for('static', filename='images/bb_beast_logo.jpg') }}">
                            </div>
                            <p class="content-txt center-align black-text">Barbell Workouts <i
                                    class="fas fa-dumbbell black-text"></i></p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!--Logged Out Homepage-->
        {% else %}
        <h1 class="content-title">the Barbell Planner</h1>
        <div class="row">
            <div class="col s12 content-txt center-align">
                Log in or Register below to get started!
            </div>
        </div>
        <div class="row">
            <div class="col l3 offset-l2 m3 offset-m2 s12">
                <div class="row">
                    <a href="{{ url_for('register')}}">
                        <div class="card">
                            <div class="card-image">
                                <img src="{{ url_for('static', filename='images/logo_4.jpg') }}">
                            </div>
                            <p class="content-txt center-align black-text">Register <i
                                    class="fas fa-id-card black-text"></i></p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col l3 offset-l2 m3 offset-m2 s12">
                <div class="row">
                    <a href="{{ url_for('login')}}">
                        <div class="card">
                            <div class="card-image">
                                <img src="{{ url_for('static', filename='images/bbrothers_1.JPG') }}">
                            </div>
                            <p class="content-txt center-align black-text">Log in <i
                                    class="fab fa-wolf-pack-battalion black-text"></i></p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    </div>

    </div>
</body>
{% endblock %}