{% extends "base.html" %}
{% block content %}

<h3 class="center-align content-title">Barbell Workouts</h3>

<ul class="collapsible content-txt">
    {% for workout in workouts %}
    <li>
        <div class="collapsible-header blue-grey darken-1">
            <div class="col s3">
                <i class="fas fa-angle-down"></i>
                <a class="btn-small yellow accent-4 black-text">Edit</a>
            </div>
            <strong>{{ workout.workout_name }}</strong> : {{ workout.date }}
        </div>
        <div class="collapsible-body">
            <div class="col s9">
                <strong>{{ workout.exercise_type }}</strong><br>
                <strong>{{ workout.exercise_name1 }}</strong><br>
                <p>
                    Sets: {{ workout.sets1 }}<br>
                    Reps: {{ workout.reps1 }}<br>
                    Weight: {{ workout.weight }}<br>
                    Duration: {{ workout.duration }}<br>
                </p>
                <p><em>Logged by: {{ workout.created_by }}</em></p>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}