{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card-panel blue-grey darken-1">
            <h3 class="center-align content-txt">{{ username }}'s Workouts</h3>
        </div>
    </div>
</div>

<ul class="collapsible content-txt">
    <li>
        <div class="collapsible-header blue-grey darken-1"><i class="fas fa-angle-down">First</i></div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
        <div class="collapsible-header content- txt blue-grey darken-1"><i class="fas fa-angle-down">Second</i></div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
        <div class="collapsible-header content-txt blue-grey darken-1"><i class=" fas fa-angle-down">Third</i></div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
</ul>


{% endblock %}