{% extends "base.html" %}
{% block content %}

<h3 class="center-align content-title">Register</h3>

<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
        <div class="card-panel blue-grey darken-1">
            <!--Username field-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-id-card prefix white-text text-darken-4"></i>
                    <input id="username" name="username" type="text" class="validate">
                    <label for="first_name">Username</label>
                </div>
            </div>
            <!--password field-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-lock prefix white-text text-darken-4"></i>
                    <input id="password" name="password" type="password" class="validate">
                    <label for="password">Password</label>
                </div>
                <!--Register button-->
                <div class="row">
                    <button class="col s8 offset-m2 btn-large grey darken-4 content-txt z-depth-4" type="submit">
                        Join The Pack <i class="fab fa-wolf-pack-battalion white-text"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}